<div class="title row">
  <div class="col-md-10">
    <h1>All Races</h1>
  </div>
  <div class="col-md-2">
    <%= link_to 'New Race', new_race_path, class: 'btn btn-primary pull-right' %>
  </div>
</div>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Distance</th>
    </tr>
  </thead>

  <tbody>
    <% @races.each do |race| %>
      <tr>
        <td><%= link_to race.name, edit_race_path(race) %></td>
        <td><%= race.distance %> km</td>
      </tr>
    <% end %>
  </tbody>
</table>
