<h1><%= @race.to_s %></h1>

<%= content_tag(:canvas, nil, id: 'result_duration_over_time_chart', data: @chart_data) %>

<% if @results.any? %>
  <div id="your-results" class="list-group col-md-4">
    <h2>Your Results</h2>
    <% @results.each do |result| %>
      <%= link_to("#{icon('far', :calendar)} #{result.date} #{icon('clock-o')} #{duration_in_words(result.duration)}".html_safe, result, class: "list-group-item") %>
    <% end %>
  </div>
<% end %>
