<h1><%= @race.to_s %></h1>

<%= content_tag(:canvas, nil, id: 'result_duration_over_time_chart', width: 300, height: 100, data: @chart_data) %>

<h2>Results</h2>

<div class="list-group col-md-4">
  <% @results.each do |result| %>
    <%= link_to("#{icon(:calendar)} #{date_in_words(result.date)} #{icon('clock-o')} #{duration_in_words(result.duration)}".html_safe, result, class: "list-group-item") %>
  <% end %>
</div>
