@font-face {
  font-family: 'Strava';
  src:  font-url('strava.eot?');
  src:  font-url('strava.eot?#iefix')  format('embedded-opentype'),
        font-url('strava.ttf?')        format('truetype'),
        font-url('strava.woff?')       format('woff'),
        font-url('strava.svg?#strava') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fa-strava:before {
  font-family: 'Strava' !important;
  content: "\e900";
}
